.checkout{
    display: flex;
    padding: 20px;
    background-color: white;
    height: max-content;
}
.check_ad{
    width: 100%;
    margin-bottom: 10px;
}
.check__title{
    margin-right: 10px;
    pad: 10px;
    border-bottom: 1px solid lightgreen;
}
.check_left{
    margin-left: 10px;
}
.check_right{
   align-content: right;
    
}